
.grid-container {
    display: grid;
    grid-template-columns: auto;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0;
    font-size: 30px;
    text-align: center;
  }

  .header{
      background-color:darkturquoise;
      height: 100px;
      vertical-align: middle;
      text-align: center;
      justify-content: center;
      color: black;
      font-weight: bolder;
      font-size:x-large;
      align-items: center;
  }

  .footer{
      background-color:darkslategrey;
      height: 100px;
      vertical-align: middle;
      text-align: center;
      justify-content: center;
      color:white;
      font-weight: bolder;
      font-size:x-large;
      display: inline-block;
  }

  .flex-container {
    display: flex;
    background-color:darkslategrey;
    padding-left: 0px;
    height: 70px;
    flex-direction: row;
  }
  
  .flex-container > div {
    background-color:darkslategrey;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: white;
    border-right: 1.5px solid black;
  }

  .flex-column {
    display: flex;
    padding-left: 0px;
    flex-direction: row;
    height: 450px;
    text-align: left;
  }

  .flex-column > div {
    margin: 0px;
    padding: 0px;
    padding-right: 0%;
    padding-left: 0%;
    font-size: 20px;
    width: 100%;
  }

  #divColumn1{
    background-color: gray;
    width: 28%;
  }

  #divColumn2{
    background-color: darkgray;
    width: 44%;
  }

  #divColumn3{
    background-color: lightgrey;
    width:28%;
    
  }

  #divMenu1, #divMenu2, #divMenu3{
    width: 8%;
    vertical-align: middle;
    display: inline-block;
    line-height: 60px;
  }

  #column1Text, #column2Text, #column3Text{
    margin-left: 6px;
  }

  #footerSpan, #headerSpan {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
  }

  @media (max-width: 600px) {
    
    .grid-item {
        flex-wrap: wrap;
    }
    
    .divColumn2{
        order: 3;
        flex: 100%;
    }

    .divMenu1, .divMenu2, .divMenu3{
      width: 4%;
    }
}