
#first {
    border: 4px dashed black;
    padding: 10px 5px;
    margin: 20px;
    height: 50px;
    background-color: #FAFAFA;
}
#second {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 45px;
    padding: 5px 3px;
    border: 1px solid green;
    background-color: #F3F3FF;
}

div { border: 1px solid black; }
#a { position: relative; width: 1000px; height: 500px;}
#b { position: absolute; bottom: 0px; left: 0px; right: 0px;}
#c { position: absolute; right: 0px; }