<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Q1</title>
        <style>
            div {
                margin: 20px;
            }
            table {
                position: relative;
                top: 400px;
            }
        </style>
    </head>

 <body>
     <div>
        <form action="add-cookie" method="POST">
            <input type="text" name="key" />
            <input type="text" name="value" />
            <button type="submit">Add Cookie</button>
        </form>
    </div>


    <div>
        <table border="1">
            <caption>Cookies</caption>
            <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>


              <% for(const key in cookies) { %>
                <tr><th><%= key %></th><th><%= cookies[key] %></th></tr>
            <% } %>
        </table>
    </div>
 </body>
</html>